<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>db_userid</param-name>
        <param-value>jjmoore</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>63jb2x4aWqGQ</param-value>
    </context-param>
    <listener>
        <listener-class>
             jdbc.GlobalConnectionPool
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>ComicServlet</servlet-name>
        <servlet-class>servlets.ComicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtagonistServlet</servlet-name>
        <servlet-class>servlets.ProtagonistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectionServlet</servlet-name>
        <servlet-class>servlets.CollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComicServlet</servlet-name>
        <url-pattern>/ComicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtagonistServlet</servlet-name>
        <url-pattern>/ProtagonistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollectionServlet</servlet-name>
        <url-pattern>/CollectionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
